.main-container{
  
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container button{ 
    background-color:#eab54b ;
    border: none}
.main-container button:hover{ 
    background-color:#f5b83d ;
}
.main-container form{
    width: 280px;
    padding: 10px;
}


